@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --nav: 64px;
}

nav {
  min-height: var(--nav);
}

body {
  height: 100vh;
}

#sidebar {
    height: calc(100vh - var(--nav));
    overflow-y: auto;
}