@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --nav: 64px;
}

nav {
  min-height: var(--nav);
}

body {
  height: 100vh;
}

#sidebar {
    /* height: calc(100vh - var(--nav)); */
    overflow-y: auto;
}

aside ul li.active {
    background-color: #adb5bd;
    /* border-radius: .375rem; */
}

aside ul li.active a.nav-link span {
    color: #fff;
}